
body {
    margin: 0;
}

.container {
    margin: 0px 100px;
}

.header {
    background-image: url(assets/img/html-codes-background.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-right: 140px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 18px;
    font-style: normal;
    margin-right: 15px;
    padding: 10px 15px;
    line-height: 50px;
    transition: 0.4s;
}

.nav-link:hover {
    border: 1px solid #fff;
    color: #6f6f70;
    font-size: 20px;
    transition: 0.4s;
}

.header-title {
    position: relative;
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
}

.header-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 900px;
    background-color: #fff;
    left: 445px;
    top: 125px;
}

.header-subtitle {
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 20px;
}

.contacts-title {
    position: relative;
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: -300px;
}

.contacts-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 450px;

}

.cards-holder {
    display: flex;
    justify-content: space-around;
}
    
.card {
    box-shadow: 10px 10px 30px 20px #747373;
    width: 320px;
    height: 275px;
    background-color: #ffffff;
}

.card-img-title {
    display: flex;
    justify-content: center;
}

.card-img {
    height: 86px;
    margin: 10px;
    padding: 30px;
}

.card-desc {
    text-align: center;
    justify-content: center;
}

.cards-text {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: 3px solid #7a7a7a;
    transition: 0.3s;
}

.card-discord-text {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: 3px solid #7a7a7a;
}

.cards-text:hover {
    background-color: #a5a5a5;
    color: #000000;
    font-size: 40px;
    transition: 0.3s;
}

.section-title {
    position: relative;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 100px;
    margin-bottom: -20px;
}

.section-content {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    width: 900px;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
}

.aboutme-title {
    position: relative;
}

.aboutme-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 370px;
}

.profandskills-title {
    position: relative;
}

.profandskills-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 470px;
}

.profandskills-list {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 65px;
    padding-left: 300px;
    padding-right: 300px;
}

.first-column {
    margin: 20px;
    box-shadow: 10px 10px 30px 20px #747373;
    width: 37%;
    height: 50%;
}

.second-column {
    margin: 20px;
    box-shadow: 10px 10px 20px 20px #747373;
    width: 37%;
    height: 50%;
}

.git {
    list-style: none;
    background-image: url(assets/img/github.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.markdown {
    list-style: none;
    background-image: url(assets/img/markdown-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.csharp {
    list-style: none;
    background-image: url(assets/img/csharp-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.sql {
    list-style: none;
    background-image: url(assets/img/sqlserver-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.vscode {
    list-style: none;
    background-image: url(assets/img/vscode-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.html {
    list-style: none;
    background-image: url(assets/img/html5-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.css {
    list-style: none;
    background-image: url(assets/img/css3-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.godot {
    list-style: none;
    background-image: url(assets/img/godot-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    background-size: 32px;
}

.codeexample-title {
    position: relative;
    padding-bottom: 30px;
}

.codeexample-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 720px;
}

.section-content-code {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    width: 700px;
    padding-top: 10px;
    margin: auto;
    box-shadow: 10px 10px 30px 20px #747373;
    background-color: #292727;
    color: #fff;
}

.selector {
    color: #c59d18;
}

.bluee {
    color: rgb(29, 167, 221);
}

.orangee {
    color: #a5690f;
}

.greenn {
    color: rgb(150, 219, 93);
}

.color-name {
    background-color: #000000;
    color: #fff;
}

.project-list {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    padding: 0px 300px 0px 300px;
}

.projects-title {
    position: relative;
    padding-bottom: 20px;
}

.projects-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 270px;
}

.education-list {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    padding: 0px 300px 0px 300px;
}

.education-title {
    position: relative;
    padding-bottom: 20px; 
}

.education-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 1220px;
    background-color: #000000;
    left: 200px;
    top: 270px;
}

.languages-list {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    padding: 0px 300px 0px 300px;
}

.languages-title {
    position: relative;
    padding-bottom: 20px; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 80px;
}

.github-profile {
    margin-left: 40px;

}

.by-ilya {
    margin-right: 40px;
    font-size: 22px;
    color: #fff;
}